* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url("../img/sfondo.png");
  /* background-size: cover;
  background-position: center; */
}

.container {
  width: 1200px;
  margin: auto;
}

header {
  width: 100%;
  height: 400px;
  background-color: yellow;
  margin-bottom: 10px;
  position: relative;
}

nav {
  background-color: blue;
  height: 15%;
  width: 100%;
  position: absolute;
  bottom: 0;
}

main {
  /* margin-bottom: 10px; */
}

.fl {
  float: left;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.fl:first-child {
  /* width: 350px; */
  width: 25%;
  height: 350px;
  padding: 30px;
  background-color: black;
}

.fl:first-child div {
  background-color: pink;
  height: 100%;
}

.fl:nth-child(2) {
  /* width: 500px; */
  width: 50%;
  height: 500px;
  background-color: black;
  padding: 30px;
}

.fl:nth-child(2) div {
  background-color: violet;
  height: 100%;
}

.fl:last-child {
  /* width: 350px; */
  width: 25%;
  /* height: 500px; */
  padding: 30px 30px 0 30px;
  background-color: black;
}

.fl:last-child div {
  height: calc(500px - 40px);
  margin-bottom: 40px;
  background-color: pink;
}

footer {
  height: 200px;
  background-color: cyan;
}
