* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url("../img/sfondo.png");
  /* background-size: cover;
  background-position: center; */
}

.container {
  width: 1200px;
  margin: auto;
  font-family: sans-serif;
}

header {
  width: 100%;
  height: 400px;
  background-color: white;
  margin-top: 20px;
  padding: 15px;
}

#sfondo-header {
  background-image: url("../img/sfondo-header.png");
  background-size: cover;
  background-position: center;
  /* Questa appena sotto non serve a nulla */
  /* border-radius: 0 0 0 0; */
  height: calc(100%);
  position: relative;
  text-align: center;
}

.logo {
  width: 45%;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

span.pay-off {
  color: white;
  font-family: sans-serif;
  font-size: 28px;
  position: relative;
  top: 78%;
}






nav {
  background-color: rgb(105,105,105);
  height: 60px;
  width: 100%;
  text-align: center;
}

li {
  display: inline;
  line-height: 60px;
  color: white;
  padding: 0 10px;
  font-family: sans-serif;
  font-size: 14px;
}

main {
  /* margin-bottom: 10px; */
}

.fl {
  float: left;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.fl>div {
  padding: 35px;
  font-size: 20px;
}



p {
  margin-top: 60px;
  line-height: 40px;
}

.fl:first-child p {
  margin-top: 40px;
  line-height: 20px;
  color: green;
  font-weight: bold;
}

.fl:first-child {
  /* width: 350px; */
  width: 25%;
  padding: 15px 30px 30px 0;
  /* background-color: black; */
}

.fl:first-child div {
  background-color: white;
  height: 100%;
}

.fl:nth-child(2) {
  /* width: 500px; */
  width: 50%;
  /* height: 500px; */
  /* background-color: black; */
  padding: 15px 30px 30px 30px;
}

.fl:nth-child(2) div {
  height: 100%;
  background-color: white;
}

.fl:last-child {
  /* width: 350px; */
  width: 25%;
  /* height: 500px; */
  padding: 15px 0 0 30px;
  /* background-color: black; */
}

.fl:last-child div {
  /* height: calc(500px - 40px); */
  margin-bottom: 50px;
  background-color: white;
}

div:not(.container) {
  border-radius: 10px;
}


footer {
  height: 200px;
  background-color: white;
  border-radius: 10px;
  color: lightgrey;
  text-align: center;
  padding: 5px;
  margin-bottom: 20px;
}

hr {
  border: 1px solid lightgrey;
  background-color: lightgrey;
}

.icon {
  padding: 50px 160px;


}
