* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url("../img/sfondo.png");
}

.container {
  width: 1200px;
  margin: auto;
  font-family: sans-serif;
}

header {
  height: 400px;
  background-color: white;
  margin-top: 20px;
  padding: 15px;
}

#sfondo-header {
  background-image: url("../img/sfondo-header.png");
  background-size: cover;
  background-position: center;
  height: 100%;
  position: relative;
  text-align: center;
}

.logo {
  width: 45%;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.pay-off {
  color: white;
  font-size: 28px;
  position: relative;
  top: 78%;
}

nav {
  background-color: rgb(105,105,105);
  height: 60px;
  text-align: center;
}

li {
  display: inline;
  line-height: 60px;
  color: white;
  padding: 0 10px;
  font-size: 14px;
}

.fl {
  float: left;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.fl>div {
  background-color: white;
  padding: 35px;
  font-size: 20px;
}

p {
  margin-top: 60px;
  line-height: 40px;
}

.fl:first-child p {
  margin-top: 40px;
  line-height: 20px;
  color: green;
  font-weight: bold;
}

.fl:first-child h2 {
  text-align: center;
}

.feed {
  position: relative;
}

.fl:first-child img {
  position: absolute;
  top: 3px;
  left: 0;
}

.fl:first-child {
  width: 25%;
  padding: 15px 30px 30px 0;
}

.fl:nth-child(2) {
  width: 50%;
  padding: 15px 30px 30px 30px;
}

.fl:last-child {
  width: 25%;
  padding: 15px 0 0 30px;
}

.fl:last-child div {
  margin-bottom: 50px;
}

div:not(.container) {
  border-radius: 10px;
}

footer {
  height: 200px;
  background-color: white;
  border-radius: 10px;
  color: lightgrey;
  text-align: center;
  padding: 5px;
  margin-bottom: 20px;
}

hr {
  border: 1px solid lightgrey;
  background-color: lightgrey;
}

.icon {
  padding: 50px 160px;
}
