* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 1200px;
  margin: auto;
}

header {
  width: 100%;
  height: 200px;
  background-color: yellow;
  margin-bottom: 10px;
}

main {
  margin-bottom: 10px;
}

.fl {
  float: left;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.fl:first-child {
  width: 350px;
  height: 350px;
  padding-right: 30px;
  padding-bottom: 30px;
}

.fl:first-child div {
  background-color: pink;
  width: 100%;
  height: 100%;
}

.fl:nth-child(2) {
  width: 500px;
  height: 500px;
  background-color: violet;
}

.fl:last-child {
  width: 350px;
  height: 500px;
  padding-left: 30px;
}

.fl:last-child div {
  width: 100%;
  height: calc(250px - 20px);
  margin-bottom: 20px;
  background-color: pink;
}

footer {
  height: 150px;
  background-color: cyan;
}
